<div
  class="pt-[120px] pb-[85px] px-[150px] flex justify-between bg-[#474747] text-[#F9F9F7]"
>
  <div class="flex flex-col gap-[30px] max-w-[25%]">
    <div class="flex items-center gap-[8px]">
      <app-logo></app-logo>
      <p class="italic font-semibold text-[42px] logo-text">Bistro Bliss</p>
    </div>
    <p>
      In the new era of technology we look a in the future with certainty and
      pride to for our company and.
    </p>
    <div class="flex gap-[4px] items-center text-[#F9F9F7]">
      <div
        class="h-[28px] w-[28px] rounded-[50%] bg-[#AD343E] flex items-center justify-center cursor-pointer"
      >
        <app-twitter-icon></app-twitter-icon>
      </div>
      <div
        class="h-[28px] w-[28px] rounded-[50%] bg-[#AD343E] flex items-center justify-center cursor-pointer"
      >
        <app-facebook-icon></app-facebook-icon>
      </div>
      <div
        class="h-[28px] w-[28px] rounded-[50%] bg-[#AD343E] flex items-center justify-center cursor-pointer"
      >
        <app-instagram-icon></app-instagram-icon>
      </div>
      <div
        class="h-[28px] w-[28px] rounded-[50%] bg-[#AD343E] flex items-center justify-center cursor-pointer"
      >
        <app-github-icon></app-github-icon>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-[40px]">
    <p class="text-[16px] font-bold">Pages</p>
    <div class="flex flex-col gap-[20px] text-[16px]">
      <p>Home</p>
      <p>About</p>
      <p>Menu</p>
      <p>Pricing</p>
      <p>Blog</p>
      <p>Contact</p>
      <p>Delivery</p>
    </div>
  </div>
  <div class="flex flex-col gap-[40px]">
    <p class="text-[16px] font-bold">Utility Pages</p>
    <div class="flex flex-col gap-[20px] text-[16px]">
      <p>Start Here</p>
      <p>Styleguide</p>
      <p>Password Protected</p>
      <p>404 Not Found</p>
      <p>Licenses</p>
      <p>Changelog</p>
      <p>View More</p>
    </div>
  </div>
  <div class="flex flex-col gap-[40px]">
    <p class="text-[16px] font-bold">Follow Us On Instagram</p>
    <div class="flex flex-col gap-[20px] text-[16px]">
      <div class="flex gap-[14px] items-center">
        <img src="assets/food-1.png" alt="" class="block rounded-[12px]" />
        <img src="assets/food-2.png" alt="" class="block rounded-[12px]" />
      </div>
      <div class="flex gap-[14px] items-center">
        <img src="assets/food-3.png" alt="" class="block rounded-[12px]" />
        <img src="assets/food-4.png" alt="" class="block rounded-[12px]" />
      </div>
    </div>
  </div>
</div>
