@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.title {
  font-family: "Playfair Display", serif;
}

.not-found-bg {
  background-image: url("../../assets/not-found-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 50%;
  position: relative;
}
