<div class="mt-[150px]">
  <div class="not-found-bg">
    <div class="absolute top-0 left-1/2 -translate-x-1/2">
      <img src="assets/icons/not-found.svg" alt="" />
      <div class="mt-[20px] flex flex-col items-center gap-[20px]">
        <p class="title text-[55px]">Oops! Page not found</p>
        <div class="flex items-center justify-center gap-[16px]">
          <a
            routerLink="/"
            class="font-bold text-[16px] border border-transparent bg-[#AD343E] text-white rounded-[118px] px-[24px] py-[12px] cursor-pointer block hover:text-white"
          >
            Back to home
          </a>
          <a
            routerLink="/menu"
            class="font-bold text-[16px] border border-black rounded-[118px] px-[24px] py-[12px] cursor-pointer block hover:text-black"
          >
            Explore Menu
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
